@font-face {
   font-family: 'Futura';
   src: url('fonts/futura.otf') format('opentype');
}
html {
  height: 100%;
}
.header-div {
  height: 100vh;
  width: 100%;
  background: url('pics/wallpapers/01.jpg') center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.main-bar {
  background-color: rgba(0,0,0,0);
  border: none;
  font-family: 'Futura', sans-serif;
  z-index: 1;
}
.navbar-brand {
  font-size: 40px;
  padding-left: 5vh;
  line-height: 13vh;
  height: 13vh;
  padding-top: 0;
}
.navbar-collapse {
  border-top: none;
  box-shadow: none;
}
.navbar-header {
  border: none !important;
}
.nav-links {
  padding-right: 5vh;
}
.nav-links > li > a{
  font-size: 25px;
  color: #FFF !important;
  line-height: 13vh;
  height: 13vh;
  padding-right: 5vh;
  padding-top: 0px;
}
.navbar-toggle {
  border: none;
}
.navbar-toggle > span {
  background-color: #FFF !important;
}
.navbar-toggle:hover span{  background-color: #000080 !important;}
.navbar-toggle:hover {  background-color: #FFF !important;}
.navbar-toggle:focus {  background-color: #FFF !important;}
.navbar-toggle:focus span{  background-color: #000080 !important;}
.name {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}
.scroll {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}
.scroll-wrap {
  font-size: 30px;
  display: table-cell;
  vertical-align: bottom;
  color: #FFF;
}
.scroll-wrap a {
  color: #FFF;
}
.name-wrap {
  padding-bottom: 20vh;
  font-family: 'Futura', sans-serif;
  color: #FFF;
  display: table-cell;
  vertical-align: middle;
}
.name-wrap h1 {
  font-size: 150px;
  margin-bottom: 0;
}
.name-wrap h2 {
  margin-top: 0;
}
.about-me {
  height: 40vh;
}
.second-div {
  height: 100vh;
  width: 100%;
  background: url('pics/wallpapers/02.jpg') center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
