@font-face {
   font-family: 'Futura';
   src: url('fonts/futura.otf') format('opentype');
}
html {
  height: 100%;
}
.header-div {
  height: 100vh;
  width: 100%;
}
.header-div video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}
.main-bar {
  background-color: rgba(0,0,0,0);
  border: none;
  font-family: 'Futura', sans-serif;
  z-index: 1;
}
.navbar-brand {
  font-size: 40px;
  padding-left: 3vw;
  line-height: 13vh;
  height: 13vh;
  padding-top: 0;
}
.navbar-collapse {
  border-top: none;
  box-shadow: none;
}
.navbar-header {
  border: none !important;
}
.nav-links {
  padding-right: 3vw;
}
.nav-links > li > a{
  font-size: 25px;
  line-height: 13vh;
  height: 13vh;
  padding-right: 1vw;
  padding-top: 0px;
}
.nav-links a:hover { color: #FFF !important;}
.navbar-toggle {
  border: none;
}
.navbar-toggle {
  line-height: 13vh;
  height: 13vh;
}
.navbar-toggle > span {
  background-color: #FFF !important;
}
.navbar-toggle:hover span{  background-color: #000080 !important;}
.navbar-toggle:hover {  background-color: #FFF !important;}
.navbar-toggle:focus {  background-color: #FFF !important;}
.navbar-toggle:focus span{  background-color: #000080 !important;}
.name {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
}
.scroll-wrap a {
  color: rgb(0,2,17);
}
.name-wrap {
  padding-bottom: 0vh;
  font-family: 'Futura', sans-serif;
  color: rgb(0,2,17);
  display: table-cell;
  vertical-align: middle;
}
.name-wrap h1 {
  font-size: 200px;
  line-height: 150px;
  margin-bottom: 0;
}
.name-wrap h2 {
  margin-top: 0;
}
.about-site {
  height: 40vh;
  background-color: rgb(0,2,17);
  text-align: center;
  display: table;
  with: 100%;
}
.about-site-wrap {
  float: none;
  display: table-cell;
  vertical-align: middle;
  padding-left: 12vw;
  padding-right: 12vw;
}
.about-site-wrap h1 {
  font-family: 'Futura', sans-serif;
  font-size: 25px;
  color: #FFF;
}
.project-div {
  height: 100vh;
  width: 100%;
  background: white;
  background-size: cover;
  background-attachment: fixed;
}



.noIbar {
cursor:default;
}
