.mainNav {
    margin-left: -7px;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.mainNav div {
    display: inline-block;

    text-align: center;
    vertical-align: middle;
    line-height: 150px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    float: right;
    padding-right: 20px;
}

.mainNav a {
    padding: 0px 15px;
    text-decoration: none;
    color: #FFF;
}

#banner {
    margin-left: -10px;
    margin-top: -10px;
    margin-right: -10px;
    background: black url("back.jpg") left no-repeat;
    height: 644px;
}

body {
    background-color: #F0EAD6;
    overflow-x: hidden;
}