.header {
    position: relative;
    overflow: visible;
    margin-top: -10px;
    margin-left: -10px;
}

#banner {
    position: absolute;
    max-width: 110%;
    height: auto;
    width: auto;
}

.header h1 {
    position: relative;
    text-align: center;
    z-index: 1;
    width: 100%;
    padding-top: 240px;
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    margin: 0;
    font-style: black;
    color: #FFF;
}
.header h2 {
    position: relative;
    text-align: center;
    z-index: 1;
    width: 100%;
    margin-top: -35px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
}

.mainNav {
    margin-left: -7px;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.mainNav div {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    float: right;
    padding-right: 20px;
}

.mainNav a {
    padding: 0px 15px;
    text-decoration: none;
    color: #FFF;
}

body {
    background-color: #F0EAD6;
    overflow-x: hidden;
}