.section-div {
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    position: absolute;
}
.email-bar-div {
    width: 4%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.end-div {
    width: 100%;
    height: 15%;
    bottom: 0;
    left: 0;
    position: absolute;
}
.nav-div {
    width: 100%;
    height: 15%;
    position: absolute;
}

@media (min-width: 16em) {
    .nav-bar {
        visibility: hidden;
    }
    .intro-hero {
        font-size: 2.5em;
    }
    .name-hero {
        font-size: 5em;
        line-height: 1em;
    }
    .typed-text {
        visibility: hidden;
    }
    .spacer {
        flex: 0;
    }
}
@media (min-width: 40em) {
    .nav-bar {
        visibility: visible;
    }
    .intro-hero {
        font-size: 2.5em;
    }
    .name-hero {
        font-size: 9em;
    }
    .typed-text {
        visibility: visible;
    }
}
@media (min-width: 85em) {
    .hero-div {
        padding-left: 0em;
    }
    .intro-hero {
        font-size: 2em;
    }
    .name-hero {
        font-size: 8em;
    }
    .spacer {
        flex: 1;
    }
}
@media (min-width: 160em) {
    .intro-hero {
        font-size: 2em;
    }
}

.EmailBar {
    color: #f04f0c;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: "Consolas";
}
.EmailSeparator {
    border-left: 1px solid #f04f0c;
    height: 75px;
}
.EmailButton:hover {
    cursor: pointer;
}
.LandingButton {
    cursor: pointer;
    user-select: none;
    color: #153b50;
    border: solid;
    border-color: #153b50;
}
.LandingButton:hover {
    color: #EF7B45;
    border-color: #EF7B45;
    transform: translateY(2px);
}
.LandingButton:active {
    color: #f04f0c;
    border-color: #f04f0c;
    transform: translateY(4px);
}
.NavLink {
    cursor: pointer;
    user-select: none;
    color: #7c828e;
    font-family: "Consolas";
    font-size: 1.2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.NavLink:hover {
    color: #042a2b;
    transform: translateY(2px);
}
.NavLink:active {
    color: #03191a;
    transform: translateY(4px);
}
  
.typed-text {
    font-family: Consolas;
    font-weight: bold;
    font-size: 1.8vw;
    color: #EF7B45;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
}

.bounce {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #fff;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }