@font-face {
  font-family: Menlo;
  src: url(../fonts/Menlo-Regular.ttf);
}

html{
  height: 100%;
}
body {
  overflow: hidden;
  background-color: #000019;
  background: linear-gradient(to bottom right, #003366, black) no-repeat;
}

.menu-wrapper{
  position: fixed;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
}
.side-menu{
  width: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 50px;
  background-color: white;
  transition: 1s;
}

.share{
  height: 0px;
  overflow: hidden;
  transition: 1s;
  background-color: #000019;
}

.share-wrap{
  text-align: center;
}
.share-wrap i{
  color: #FFF;
}
.share-wrap a:hover > i{
  color: #19192F;
}
.connect-wrap{
  text-align: left;
}
.connect-wrap h1{
  font-family: 'Roboto', sans-serif;
  color:#FFF;
  padding-left: 30px;
}
.close-wrap{
  text-align: right;
}
.close-wrap a:hover > span{
  color: #19192F !important;
}

.vcenter {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.main {
  background: none;
  border-color: transparent;
}
.main li{
  z-index: 1;
}

.glyph-wrap{
  font-size: 35px;
  color: #FFF;
  margin-top: 15px;
  margin-bottom: 15px;
  float: none;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.glyph-wrap > a > span{
  color: #FFF;
}
.glyph-wrap > a:hover > span{
  color: #000019;
}
.glyph-wrap > a:focus > span{
  color: #000019;
}

.header {
  animation: fadeIn 2s;
  position: relative;
  text-align: center;
  color: #FFF;
  font-family: 'Menlo', sans-serif;
}
.header h1{
  font-size: 100px;
}
.header h2{
  font-size: 20px;
  margin-top: -20px;
}

.search{
  animation: fadeIn 2s;
  display: block;
  position: relative;
  text-align: center;
}

.form-control{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  height: 100px;
  font-family: 'Menlo', sans-serif;
}

.form-control:focus{
  box-shadow: none;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
