@font-face {
  font-family: Menlo;
  src: url(../fonts/Menlo-Regular.ttf);
}

html {
  animation: fadeIn 2s;
  height: 100%;
  overflow: hidden;
}
body {
  overflow: hidden;
  height: 100%;
  background-color: #003366;
  background: linear-gradient(to bottom right, #003366, black) no-repeat;
}

.menu-wrapper {
  position: fixed;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
  z-index: -1 !important;
}
.side-menu {
  width: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 50px;
  background-color: white;
  transition: 1s;
}

.share {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  background-color: #FFF;
}
.share-wrap {
  text-align: center;
}
.share-wrap i {
  color: #FFF;
}
.share-wrap a:hover > i {
  color: #19192F;
}
.connect-wrap {
  text-align: left;
}
.connect-wrap h1 {
  font-family: 'Roboto', sans-serif;
  color:#FFF;
  padding-left: 30px;
}
.close-wrap {
  text-align: right;
}
.close-wrap a:hover > span {
  color: #19192F !important;
}

.glyph-wrap {
  font-size: 35px;
  color: #FFF;
  margin-top: 15px;
  margin-bottom: 15px;
  float: none;
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.glyph-wrap > a > span {
  color: #FFF;
}
.glyph-wrap > a:hover > span {
  color: #000019;
}
.glyph-wrap > a:focus > span {
  color: #000019;
}

.main {
  position: absolute;
  background: transparent;
  z-index: 2;
}

.operating-wrapper {
  height: 100%;
  position: relative;
  z-index: 1;
  background: url('../pics/screen-frame.png');
  background-size: 100% 100%;
}
.limit-wrapper {
  position: absolute;
  height: 76%;
  width: 82%;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}

.window {
  position: absolute;
  resize: both;
  background-color: #D3D3D3;
  height: 320px;
  width: 500px;
  border: 3px ridge;
  border-color: #404040;
  overflow: hidden;
}
.title-bar{
  background-color: #303030;
  height: 25px;
  width: 100%;
  margin-left: 0;
  border-bottom: 3px ridge;
  border-color: #404040;
}
.window-title {
  color: #fff;
  font-family: 'Menlo', sans-serif;
  text-align: center;
}
.window-options {
  text-align: right;
  padding-right: 0px;
  color: #FFF;
  font-size: 10px;
}

.name-window {
  top: 20%;
  left: 20%;
  background-color: #000;
  z-index: 1;
}

.header {
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  font-family: 'Menlo', sans-serif;
}
.value {
  color: #FFF;
  font-size: 10px;
}
.termtext {
  margin:0;
  padding:0;
  color: #37FDFC;
  font-size: 10px;
}

.terminal-window {
  top: 40%;
  left: 40%;
  background-color: #000;
  z-index: 0;
}
.search {
  animation: fadeIn 2s;
  display: block;
  position: relative;
  text-align: center;
}
.form-control {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
  text-align: left;
  left-padding: 5px;
  font-size: 20px;
  color: #FFF;
  font-family: 'Menlo', sans-serif;
}
.form-control:focus {
  box-shadow: none;
}

.drawing-window {
  top: 20%;
  left: 60%;
  height: 370px;
  width: 400px;
  background-color: #000;
}
.drawing-window h1 {
  margin: 0;
}
.drawing-window h1 > pre {
  background-color: black;
  border: none;
  color: #37FDFC;
  padding-left: 60px;
}

.vcenter {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.noIbar {
cursor:default;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
