@font-face {
  font-family: Menlo;
  src: url(../fonts/Menlo-Regular.ttf);
}

body {
  background-color: #000019;
}

.menu-wrapper{
  position: fixed;
  top: 30px;
  left: 30px;
  bottom: 30px;
  right: 30px;
}
.side-menu{
  width: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 50px;
  background-color: white;
  transition: 1s;
}

.navbar.center .navbar-inner {
  text-align: center;
}
.navbar.center .navbar-right{
  text-align: right;
}
.navbar.center .navbar-inner .nav{
  margin-top: 200px;
  float: none;
  display: inline-block;
}

.navbar {
  background: none;
  border-color: transparent;
}
.navbar li{
  z-index: 1;
}

.glyph-wrap{
  font-size: 35px;
  color: #FFF;
  margin-top: 12px;
  padding-right: 15px;
}

.header {
  animation: fadeIn 2s;
  position: relative;
  text-align: center;
  color: #FFF;
  font-family: 'Menlo', sans-serif;
}
.header h1{
  font-size: 100px;
}
.header h2{
  font-size: 20px;
  margin-top: -20px;
}

.search{
  animation: fadeIn 2s;
  display: block;
  position: relative;
  text-align: center;
}

.form-control{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none;
  text-align: center;
  font-size: 20px;
  color: #FFF;
  height: 100px;
  font-family: 'Menlo', sans-serif;
}

.form-control:focus{
  box-shadow: none;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
